:root {
  --color-green: #38f094;
  --color-green-dark: #12af6d;
  --color-red: #ff2200;
  --color-orange: #fb4f34;
  --color-coral: #ff715b;
  --color-white: #fff;
  --color-black: #12141d;
  --color-dark-grey: #3a3c45;
  --color-grey-1: #697077;
  --color-grey-2: #8b929a;
  --color-light-grey-1: #d4dae1;
  --color-light-grey-2: #eff0f2;
  --color-light-grey-3: #f7f8f9; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  background-color: #fff;
  font-weight: 400; }

.container {
  display: flex; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  font-style: normal; }

.current-color {
  background-color: var(--color-green); }

.current-color-icon {
  fill: var(--color-black) !important; }

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5; }

.heading-primary {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.3;
  color: var(--color-black); }

.heading-secondary {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
  color: var(--color-black); }

.heading-third {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-black); }

.heading-fourth {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-black); }

.text-grey {
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-grey-1); }

.navigation {
  padding: 32px 20px 24px 20px;
  max-width: 80px;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 700px) {
    .navigation {
      padding-right: 8px;
      padding-left: 8px; } }
  .navigation__nav {
    margin-bottom: auto; }
  .navigation__logo {
    padding-bottom: 24px;
    border-bottom: 1px solid var(--color-dark-grey); }
  .navigation__item {
    margin-top: 24px; }
  .navigation__user-link {
    margin-bottom: 24px; }
  .navigation__user-exit {
    padding-top: 24px;
    border-top: 1px solid var(--color-dark-grey); }
  .navigation__link:link, .navigation__link:visited {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 8px;
    border: 1.5px solid #3a3c45;
    display: flex;
    align-items: center;
    transition: background-color 0.2s; }
  .navigation__link:hover, .navigation__link:active {
    background-color: var(--color-green); }
  .navigation__icon {
    width: 24px;
    height: 24px;
    fill: var(--color-grey-2); }
  .navigation__link:hover .navigation__icon {
    fill: var(--color-black); }

.browse {
  padding: 28px 44px 0 44px; }
  @media only screen and (max-width: 700px) {
    .browse {
      padding-left: 20px;
      padding-right: 20px; } }

.favorite {
  background-color: var(--color-light-grey-3);
  padding: 40px 32px 0 32px;
  width: 344px;
  border-left: 1px solid var(--color-light-grey-1); }
  @media only screen and (max-width: 900px) {
    .favorite {
      display: none; } }

.about {
  padding: 32px 44px 53px 44px;
  width: 100%; }
  @media only screen and (max-width: 700px) {
    .about {
      padding-left: 20px;
      padding-right: 20px; } }

.calendar {
  padding: 32px 64px 24px 44px;
  width: 100%; }
  @media only screen and (max-width: 1300px) {
    .calendar {
      height: 100vmax; } }
  @media only screen and (max-width: 700px) {
    .calendar {
      padding-left: 20px;
      padding-right: 20px; } }

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 19px;
  border-bottom: 1px solid var(--color-light-grey-1); }
  @media only screen and (max-width: 700px) {
    .search {
      flex-direction: column; } }
  @media only screen and (max-width: 1100px) {
    .search {
      padding-bottom: 24px; } }
  .search__title {
    margin-right: auto; }
    @media only screen and (max-width: 700px) {
      .search__title {
        margin-bottom: 10px; } }
  .search__form:not(:last-child) {
    margin-right: 20px; }
    @media only screen and (max-width: 700px) {
      .search__form:not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px; } }
  .search__form {
    position: relative; }
    @media only screen and (max-width: 700px) {
      .search__form {
        width: 100%; } }
  .search__input {
    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
    border: 1.5px solid var(--color-light-grey-1);
    padding: 13px 16px 13px 16px;
    border-radius: 6px;
    transition: all 0.2s; }
    @media only screen and (max-width: 700px) {
      .search__input {
        width: 100%; } }
    @media only screen and (max-width: 1100px) {
      .search__input {
        padding: 10px 13px; } }
    .search__input:focus {
      width: 100%;
      outline: none; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-2); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2);
    position: absolute;
    top: 25%;
    right: 8%;
    transition: all 0.2s;
    cursor: pointer; }
    .search__button:hover {
      transform: translateY(-0.1rem); }
  .search__icon {
    height: 24px;
    width: 24px;
    fill: var(--color-grey-2); }
    @media only screen and (max-width: 700px) {
      .search__icon {
        height: 20px;
        width: 20px; } }

.groups {
  padding-top: 32px;
  padding-bottom: 58px;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 700px) {
    .groups {
      flex-direction: column; } }
  .groups__picture {
    display: flex;
    justify-content: center;
    align-items: center; }
  .groups__item:not(:last-child) {
    margin-right: -65px; }
  .groups__photo {
    border-radius: 4px;
    transition: all 0.2s;
    position: relative; }
    .groups__photo-2 {
      filter: opacity(93%); }
    .groups__photo-3 {
      z-index: 10; }
    .groups__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(var(--color-black), 0.5);
      filter: opacity(100%); }
  .groups__about {
    margin-left: 68px;
    text-align: left; }
    @media only screen and (max-width: 700px) {
      .groups__about {
        margin-left: 0;
        margin-top: 40px; } }
  .groups__text {
    font-size: 14px;
    line-height: 1.3;
    color: var(--color-black);
    margin-top: 16px; }

.artists__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 102px));
  row-gap: 16px;
  justify-items: center;
  justify-content: space-around;
  padding-top: 24px;
  padding-bottom: 56px; }

.artists__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.artists__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 12px;
  transition: all 0.2s; }
  .artists__img:hover {
    transform: translateY(-1px);
    box-shadow: 0 10px 30px rgba(18, 20, 29, 0.1); }

.artists__text {
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-grey-1); }

.popular__list {
  padding-top: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 296px));
  row-gap: 20px;
  justify-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 1400px) {
    .popular__list {
      justify-content: center;
      column-gap: 20px; } }

.popular__img {
  width: 296px;
  height: 296px;
  border-radius: 4px;
  margin-bottom: 16px; }

.favorite-artists__title {
  display: flex;
  align-items: center;
  padding-bottom: 26px;
  border-bottom: 1px solid var(--color-light-grey-1); }
  @media only screen and (max-width: 1400px) {
    .favorite-artists__title {
      flex-direction: column;
      padding-bottom: 4px; } }

.favorite-artists__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-grey-1);
  margin-left: auto; }

.favorite-artists__list {
  margin-top: 32px; }

.favorite-artists__item {
  display: flex; }

.favorite-artists__item:not(:last-child) {
  margin-bottom: 24px; }

.favorite-artists__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px; }

.favorite-modal {
  display: none; }
  @media only screen and (max-width: 900px) {
    .favorite-modal {
      display: block; } }
  .favorite-modal__checkbox {
    display: none; }
  .favorite-modal__button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(var(--color-black), 0.1);
    text-align: center;
    cursor: pointer; }
  .favorite-modal__wrap {
    background-color: var(--color-light-grey-3);
    padding: 40px 32px 0 32px;
    width: 344px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    display: none;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .favorite-modal__checkbox:checked ~ .favorite-modal__wrap {
    display: block;
    transform: scale(1); }
  .favorite-modal__icon {
    position: relative;
    margin-top: 25px; }
    .favorite-modal__icon, .favorite-modal__icon::before, .favorite-modal__icon::after {
      width: 20px;
      height: 2px;
      display: inline-block;
      background-color: var(--color-light-grey-1); }
    .favorite-modal__icon::before, .favorite-modal__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .favorite-modal__icon::before {
      top: -7px; }
    .favorite-modal__icon::after {
      top: 7px; }
  .favorite-modal__button:hover .favorite-modal__icon::before {
    top: -9px; }
  .favorite-modal__button:hover .favorite-modal__icon::after {
    top: 9px; }
  .favorite-modal__checkbox:checked + .favorite-modal__button .favorite-modal__icon {
    background-color: transparent; }
  .favorite-modal__checkbox:checked + .favorite-modal__button .favorite-modal__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .favorite-modal__checkbox:checked + .favorite-modal__button .favorite-modal__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.topic {
  display: flex;
  align-items: center;
  padding-bottom: 23px;
  border-bottom: 1px solid var(--color-light-grey-1); }
  .topic__icon {
    width: 24px;
    height: 24px;
    fill: var(--color-grey-2);
    margin-right: 12px; }

.poster {
  height: 274px;
  margin-top: 32px;
  background-image: url(../img/nirvana-big.png);
  background-size: cover;
  background-position: center;
  border-radius: 6px; }
  .poster__photo {
    width: 160px;
    height: 160px;
    border-radius: 6px;
    margin-left: 32px;
    margin-top: 146px; }

.details {
  padding-top: 56px;
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr) minmax(min-content, 359px);
  grid-template-rows: repeat(2, max-content);
  row-gap: 56px;
  column-gap: 80px; }
  @media only screen and (max-width: 700px) {
    .details {
      row-gap: 32px; } }

.about-group {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1; }
  @media only screen and (max-width: 1300px) {
    .about-group {
      grid-column: 1 / span 3; } }
  .about-group__text {
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-black);
    margin-top: 16px; }
  .about-group__wrap {
    margin-top: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 900px) {
      .about-group__wrap {
        flex-direction: column;
        align-items: flex-start; } }
  .about-group__btn {
    display: inline-block;
    text-align: center;
    padding: 13px 0 14px;
    width: 220px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 6px;
    border: 1px solid var(--color-coral);
    cursor: pointer; }
    @media only screen and (max-width: 900px) {
      .about-group__btn {
        margin-bottom: 20px; } }
    .about-group__btn--1 {
      color: var(--color-white);
      background-color: var(--color-coral);
      margin-right: 24px; }
    .about-group__btn--2 {
      color: var(--color-coral);
      background-color: var(--color-white); }
  .about-group__list {
    display: flex; }
  .about-group__item:not(:last-child) {
    margin-right: 24px; }
  .about-group__icon {
    width: 24px;
    height: 24px;
    fill: var(--color-grey-2); }

.gallery {
  grid-row: 1 / span 2; }
  @media only screen and (max-width: 1300px) {
    .gallery {
      grid-column: 3 / span 1;
      grid-row: 2 / span 1; } }
  @media only screen and (max-width: 900px) {
    .gallery {
      grid-column: 1 / span 2; } }
  .gallery__logo {
    margin-top: 16px;
    margin-bottom: 20px;
    display: flex;
    align-items: center; }
  .gallery__photo-border {
    width: 42.42px;
    height: 42.42px;
    margin-right: 10px;
    position: relative;
    transition: transform 0.2s; }
    .gallery__photo-border:hover {
      transform: translateY(-1px); }
  .gallery__photo-border::before {
    content: " ";
    position: absolute;
    top: -2.7px;
    left: -2.7px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-image: linear-gradient(315deg, #f7a34b, #de0046);
    z-index: -3; }
  .gallery__photo {
    width: 42.42px;
    height: 42.42px;
    border-radius: 50%;
    border: 0.5px solid white;
    object-fit: contain;
    z-index: 3; }
  .gallery__text {
    font-family: "Source Sans Pro";
    font-size: 18px;
    line-height: 1.16;
    color: #000000;
    margin-right: 8px; }
  .gallery__list {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    gap: 1px; }
    @media only screen and (max-width: 700px) {
      .gallery__list {
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px); } }
  .gallery__item {
    position: relative; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .gallery__vector {
    position: absolute;
    top: 8px;
    right: 8px; }

.muso-details {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1; }
  @media only screen and (max-width: 1300px) {
    .muso-details {
      grid-column: 1 / span 2; } }
  @media only screen and (max-width: 900px) {
    .muso-details {
      grid-row: 3 / span 1;
      grid-column: 1 / span 3; } }
  .muso-details__list {
    margin-top: 32px; }
  .muso-details__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 13px;
    border-bottom: 1px solid #d4dae1; }
  .muso-details__item:not(:first-child) {
    margin-top: 12px; }
  .muso-details h3 {
    font-weight: 600; }
  .muso-details__text {
    font-size: 14px;
    line-height: 1.5;
    color: #12141d; }

.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(18, 20, 29, 0.4);
  backdrop-filter: blur(4px);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  .modal__content {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 39%;
    padding: 56px 80px;
    background-color: var(--color-white);
    box-shadow: 0 20px 40px rgba(18, 20, 29, 0.2);
    border-radius: 16px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s; }
    @media only screen and (max-width: 1300px) {
      .modal__content {
        padding: 32px 40px; } }
  .modal__close {
    width: 24px;
    height: 24px;
    fill: var(--color-grey-2);
    transition: all 0.2s; }
    .modal__close:hover {
      fill: var(--color-dark-grey); }
  .modal:target {
    opacity: 1;
    visibility: visible; }
  .modal:target .modal__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .modal__close:link, .modal__close:visited {
    position: absolute;
    top: 30px;
    right: 30px;
    display: inline-block; }
    @media only screen and (max-width: 1300px) {
      .modal__close:link, .modal__close:visited {
        top: 22px;
        right: 22px; } }
  .modal__text {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.46;
    color: var(--color-grey-2); }
    .modal__text--flinch {
      margin-top: 16px;
      margin-bottom: 36px; }
  .modal__details {
    display: flex;
    align-items: center; }
  .modal__progress {
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .modal__progress--line {
      background: conic-gradient(#ff715b 72deg, #eff0f2 0deg); }
  .modal__progress::after {
    content: " ";
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #eff0f2; }
  .modal__number {
    border-radius: 50%;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
    color: var(--color-black);
    z-index: 9; }
  .modal__title {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.46;
    color: var(--color-black);
    margin-left: 12px; }
  .modal__form {
    margin-top: 36px; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .form__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-black); }
    @media only screen and (max-width: 1300px) {
      .form__label {
        margin-bottom: 22px; } }
  .form__input {
    margin-top: 12px;
    padding: 13px 0 13px 16px;
    min-width: 300px;
    border-radius: 6px;
    border: 1px solid var(--color-light-grey-1);
    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.46; }
    .form__input:focus {
      outline: none;
      border: 1px solid var(--color-light-grey-1); }
    .form__input::placeholder {
      color: var(--color-grey-2); }
  .form__buttons {
    margin-top: 24px; }
    @media only screen and (max-width: 1300px) {
      .form__buttons {
        margin-top: 10px; } }
  .form__btn {
    padding: 13px 69.5px;
    margin-right: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-white);
    border-radius: 6px;
    background-color: #ffb8ad;
    transition: all 0.2s;
    cursor: pointer; }
    @media only screen and (max-width: 1100px) {
      .form__btn {
        margin-right: 22px;
        padding: 13px 60px; } }
    .form__btn:hover {
      background-color: var(--color-coral);
      transform: translateY(1px);
      box-shadow: 0 10px 30px rgba(18, 20, 29, 0.1); }
  .form__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-coral); }

.modal-second:target {
  opacity: 1;
  visibility: visible; }

.modal-second:target .modal-second__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1); }

.modal-second--line {
  background: conic-gradient(#ff715b 144deg, #eff0f2 0deg); }

.modal-second--input {
  height: 96px;
  resize: none; }

.modal-second--buttons {
  margin-top: 315px; }

.modal-third:target {
  opacity: 1;
  visibility: visible; }

.modal-third:target .modal-third__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1); }

.modal-third--line {
  background: conic-gradient(#ff715b 216deg, #eff0f2 0deg); }

.modal-fourth:target {
  opacity: 1;
  visibility: visible; }

.modal-fourth:target .modal-fourth__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1); }

.modal-fourth--line {
  background: conic-gradient(#ff715b 288deg, #eff0f2 0deg); }

.modal-fourth__map {
  height: 356px;
  margin-bottom: 56px; }

.modal-fourth--buttons {
  margin-top: 0; }

.modal-fourth--form {
  position: relative; }

.modal-fourth--label {
  margin-bottom: 16px; }

.modal-fourth--input {
  margin-top: 0; }

.modal-fourth__btn-icon {
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 12px;
  right: 12px; }

.modal-fourth__icon {
  width: 100%;
  height: 100%;
  fill: var(--color-grey-2); }

.modal-fifth:target {
  opacity: 1;
  visibility: visible; }

.modal-fifth:target .modal-fifth__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1); }

.modal-fifth--line {
  background: conic-gradient(#ff715b 360deg, #eff0f2 0deg); }

.modal-fifth--label {
  position: relative; }

.modal-fifth__btn {
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 48px;
  right: 12px; }

.modal-fifth__icon {
  width: 20px;
  height: 10px;
  fill: var(--color-grey-2); }

.data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px; }
  .data__calendar {
    width: 196px;
    padding: 9px 8px;
    border: 1px solid var(--color-light-grey-1);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .data__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-black); }
  .data__btn {
    border: none;
    background-color: transparent;
    width: 24px;
    height: 24px; }
  .data__icon {
    width: 20px;
    height: 10px;
    fill: var(--color-grey-2); }

.week__list {
  display: grid;
  grid-template-columns: repeat(7, minmax(min-content, 170px));
  gap: 8px;
  justify-content: space-around; }

.week__item {
  background: #eff0f2;
  border-radius: 8px;
  padding: 12px 0; }

.week__text {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase; }

.month {
  margin-top: 12px; }
  .month__list {
    display: grid;
    grid-template-columns: repeat(7, minmax(min-content, 170px));
    gap: 8px;
    justify-content: space-around; }
    @media only screen and (max-width: 1400px) {
      .month__list {
        grid-template-columns: repeat(7, minmax(min-content, 150px)); } }
    @media only screen and (max-width: 1100px) {
      .month__list {
        grid-template-columns: repeat(7, minmax(min-content, 130px)); } }
    @media only screen and (max-width: 900px) {
      .month__list {
        grid-template-columns: repeat(7, minmax(min-content, 120px)); } }
    @media only screen and (max-width: 900px) {
      .month__list {
        grid-template-columns: repeat(7, minmax(min-content, 110px)); } }
  .month__item {
    height: 162px;
    position: relative;
    background-color: transparent;
    border: 1px solid var(--color-light-grey-1);
    border-radius: 6px;
    padding-top: 16px;
    padding-left: 16px;
    transition: all 0.2s; }
    @media only screen and (max-width: 1400px) {
      .month__item {
        height: 142px; } }
    @media only screen and (max-width: 1100px) {
      .month__item {
        height: 122px; } }
    @media only screen and (max-width: 900px) {
      .month__item {
        height: 112px; } }
    @media only screen and (max-width: 900px) {
      .month__item {
        height: 102px; } }
    .month__item:hover {
      background-color: var(--color-light-grey-2); }
  .month__item:hover .month__icon {
    opacity: 1; }
  .month__icon {
    position: absolute;
    bottom: 12px;
    right: 12px;
    margin-left: auto;
    width: 16px;
    height: 18px;
    opacity: 0;
    transition: all 0.2s; }
  .month__day {
    display: block;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: var(--color-black); }
    @media only screen and (max-width: 1100px) {
      .month__day {
        margin-bottom: 0; } }
    .month__day--grey {
      color: var(--color-grey-2); }
  .month__text {
    font-weight: 600;
    font-size: 13px;
    line-height: 1.38;
    color: #697077; }
    .month__text--small {
      font-weight: 400; }
      @media only screen and (max-width: 1400px) {
        .month__text--small {
          width: 67px; } }
