:root {
  --color-green: #38f094;
  --color-green-dark: #12af6d;
  --color-red: #ff2200;
  --color-orange: #fb4f34;
  --color-coral: #ff715b;

  --color-white: #fff;
  --color-black: #12141d;
  --color-dark-grey: #3a3c45;
  --color-grey-1: #697077;
  --color-grey-2: #8b929a;
  --color-light-grey-1: #d4dae1;
  --color-light-grey-2: #eff0f2;
  --color-light-grey-3: #f7f8f9;
}
