.favorite-modal {
  display: none;

  @include respond(tab-port) {
    display: block;
  }
  &__checkbox {
    display: none;
  }
  &__button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(var(--color-black), 0.1);

    text-align: center;
    cursor: pointer;
  }

  &__wrap {
    background-color: var(--color-light-grey-3);
    padding: 40px 32px 0 32px;
    width: 344px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    display: none;

    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  //functionality

  &__checkbox:checked ~ &__wrap {
    display: block;
    transform: scale(1);
  }

  //icons
  &__icon {
    position: relative;
    margin-top: 25px;

    &,
    &::before,
    &::after {
      width: 20px;
      height: 2px;
      display: inline-block;
      background-color: var(--color-light-grey-1);
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -7px;
    }
    &::after {
      top: 7px;
    }
  }

  &__button:hover &__icon::before {
    top: -9px;
  }
  &__button:hover &__icon::after {
    top: 9px;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
