.popular {
  &__list {
    padding-top: 24px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 296px));
    row-gap: 20px;
    justify-items: center;
    justify-content: space-between;

    @include respond(tab-land) {
      justify-content: center;
      column-gap: 20px;
    }
  }

  &__img {
    width: 296px;
    height: 296px;
    border-radius: 4px;
    margin-bottom: 16px;
  }
}
