*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-weight: 400;
}

.container {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: minmax(min-content, 80px) 2fr 1fr;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}
