*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: #fff;
  font-weight: 400;
}

.container {
  // display: grid;
  // grid-template-rows: 100%;
  // grid-template-columns: minmax(min-content, 80px) 1fr minmax(
  //     min-content,
  //     344px
  //   );
  display: flex;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

.current-color {
  background-color: var(--color-green);
}

.current-color-icon {
  fill: var(--color-black) !important;
}
